unclassified:
 mailer:
    authentication:
      password: "{{ epam_auto_user_password }}"
      username: "Auto_EPM-RDUA_DOaaS@epam.com"
    charset: "UTF-8"
    defaultSuffix: "@epam.com"
    smtpHost: "smtp.office365.com"
    smtpPort: "587"
    useSsl: false
