- script: >
    pipelineJob('{{ jobname|replace(".j2", "")}}') {
                parameters {
                    gitParam('branchName') {
                      description('')
                      type('BRANCH')
                      defaultValue('develop')
                    }
                }
      definition {
        cpsScm {
          scm {
            git {
              remote {
                url('git@git.epam.com:epm-rdua/kh-doaas.git')
                credentials('gitlab-ssh-private-key-readonly-access')
              }
              branch('*/develop')
              scriptPath('jenkins/jobs/{{ jobname|replace(".j2", ".groovy")}}')
            }
          }
          lightweight()
        }
      }
    }
